<nav>
  <div>
    <a href="/"><h1>Mini Message Board</h1></a>
    <p>NodeJS Course Project</p>
  </div>
  <ul>
    <li><a href="/">Messages</a></li>
    <li><a href="/messages/create">New Message</a></li>
  </ul>
</nav>
